<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusnine.android.hindijokes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HindiJokes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jokes.Jokes" />
        <activity
            android:name=".jokes.HoliJokes"
            android:label="@string/app_name2" />
        <activity
            android:name=".jokes.HoliJokesDetail"
            android:label="@string/app_name2" />
        <activity
            android:name=".PappuJokes.PappuJokes"
            android:label="@string/app_name3" />
        <activity
            android:name=".PappuJokes.PappuJokesDetail"
            android:label="@string/app_name3" />
        <activity
            android:name=".RajnikantJokes.RajnikantJokes"
            android:label="@string/app_name8" />
        <activity
            android:name=".RajnikantJokes.RajnikantJokesDetail"
            android:label="@string/app_name8" />
        <activity android:name=".SantaBantaJokes.SantaBantaJokes" android:label="@string/app_name9"/>
        <activity android:name=".SantaBantaJokes.SantaBantaJokesDetail" android:label="@string/app_name9"></activity>
    </application>

</manifest>