<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusnine.android.hindijokes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HindiJokes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jokes.Jokes"
            android:parentActivityName=".HindiJokes"/>
        <activity android:name=".jokes.AapBhutiyeHai"
            android:label="AapBhutiyeHai Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.AapBhutiyeHaiJokesDetails"
            android:label="AapBhutiyeHai Jokes"
            android:parentActivityName=".jokes.AapBhutiyeHai"/>
        <activity android:name=".jokes.BollywoodJokes"
            android:label="Bollywood Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.BollywoodJokesDetails"
            android:label="Bollywood Jokes"
            android:parentActivityName=".jokes.BollywoodJokes"/>
        <activity android:name=".jokes.CricketJokes"
            android:label="Cricket Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.CricketJokesDetails"
            android:label="Cricket Jokes"
            android:parentActivityName=".jokes.CricketJokes"/>
        <activity android:name=".jokes.FaceBookJokes"
            android:label="Facebook Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.facebookListViewDetails"
            android:label="Facebook Jokes"
            android:parentActivityName=".jokes.FaceBookJokes"/>
        <activity android:name=".jokes.BestJokes"
            android:label="Best Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.BestJokesListViewDetails"
            android:label="Best Jokes"
            android:parentActivityName=".jokes.BestJokes"/>
        <activity android:name=".jokes.AloknathJokes"
            android:label="Aloknath Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.AloknathJokesDetails"
            android:label="Aloknath Jokes"
            android:parentActivityName=".jokes.AloknathJokes"/>
        <activity android:name=".jokes.BoysJokes"
            android:label="Boy Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.BoysJokesDetails"
            android:label="Boy Jokes"
            android:parentActivityName=".jokes.BoysJokes"/>
        <activity android:name=".jokes.StudentJokes"
            android:label="Student Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.StudentJokesDetails"
            android:label="Student Jokes"
            android:parentActivityName=".jokes.StudentJokes"/>
        <activity android:name=".jokes.GirlsJokes"
            android:label="Girls Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.GirlsJokesDetails"
            android:label="Girls Jokes"
            android:parentActivityName=".jokes.GirlsJokes"/>
        <activity android:name=".jokes.EngineeringJokes"
            android:label="Engineering Jokes"
            android:parentActivityName=".jokes.Jokes"/>
        <activity android:name=".jokes.EngineeringJokesDetails"
            android:label="Engineering Jokes"
            android:parentActivityName=".jokes.EngineeringJokes"></activity>
    </application>

</manifest>